@media(max-width: 870px){
    #reloj{
        margin-left: 44px;
        width: 100%;
    }

    #post .post{
        width: 0%;
    }
    #sidebar {
        margin-top: 25px;
        margin-right: 160px;
    }
}

@media (max-width: 760px) {
    #sidebar {
        margin-right: 110px;
    }
}

@media (max-width: 490px){
    #reloj{
        margin-left: 13px;
        width: 100%;
    }

    #sidebar {
        margin-right: 80px;
    }
}