@media(max-width: 870px){
    #logo{
        font-size: 25px;
    }
}

@media(max-width: 760px){
    #logo{
        font-size: 25px;
        height: 160px;
    }

    #sidebar h4{
        line-height: 20px;
        font-size: 13px;
    }

    footer{
        height: 90px;
    }

}

@media(max-width: 490px){
    #logo{
        height: 220px;
    }

    #sidebar h4{
        line-height: 20px;
        font-size: 13px;
    }

    footer{
        height: 90px;
    }
}